[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Quart = "*"
aiohttp = "*"
feedparser = "*"
Hypercorn = "*"
uWSGI = "*"
pyopenssl = "*"

[dev-packages]

[requires]
python_version = "3.7"

[packages.twisted]
extras = [ "http2",]
